[submodule "third_party/bluez/repo"]
	path = third_party/bluez/repo
	url = https://github.com/turon/bluez.git
	branch = pr/mainloop-hooks
[submodule "third_party/mynewt-nimble/repo"]
	path = third_party/mynewt-nimble/repo
	url = git@github.com:turon/mynewt-nimble.git
	branch = pr/linux/npl-cleanup
